<div id="new_list">
  <%= form_for @list do |f| %>
  <div class="row">
    <div class="col-sm-8">
      <h3>New List</h3>

  		<div class="form-group">
        <%= f.label :title, class: "sr-only" %>
        <%= f.text_field :title, class: "form-control input-lg", placeholder: "Title" %>
      </div>

  		<div class="form-group">
        <%= f.label :description, class: "sr-only" %>
        <%= f.text_area :description, class: "form-control input-lg", placeholder: "Description (optional)" %>
      </div>

      <div id="list" class="form-group">
        <ul id="list_items">
          <li><input class="form-control input-lg" placeholder="Type and Press ENTER" type="text" name="list[item]" id="list_item_1" /></li>
        </ul>
      </div>

      <%# f.fields_for :items do |item| %>
        <%#= item.text_field :body, class: "form-control input-lg", placeholder: "List Item" %>
        <%#= item.hidden_field :position, value: 1, class: "form-control input-lg", placeholder: "Item" %>
      <%# end %>

      <%= f.hidden_field :user_id, value: 1 %>
      <%= f.hidden_field :ordered, value: 1 %>

    </div>
    <div class="col-sm-4 settings">

      <h3>List Type</h3>
      <div id="bullets" class="option selected">
        <%#= f.radio_button :ordered, false, checked: true %>
        <p>Bullets</p>
      </div>
      <div id="numbers" class="option">
        <%#= f.radio_button :ordered, true %>
        <p>Numbers</p>
      </div>

      <hr>

      <h3>Comments</h3>
      <div id="comments_on" class="option selected">
        <p>ON</p>
      </div>
      <div id="comments_off" class="option">
        <p>OFF</p>
      </div>

      <hr>

      <%= f.submit "SAVE DRAFT", :class => "btn btn-lg btn-draft btn-block" %>
      <%= f.submit "PUBLISH LIST", :class => "btn btn-lg btn-publish btn-block" %>

    </div>
  </div>
  <% end %>
</div>
