<div id="list">

  <div class="row">
    <div class="col-sm-7">
      <h2><%= @list.title %></h2>
      <%= simple_format(@list.description, class: "description") %>

      <!-- TODO make block helper for this ? -->
      <<%= @list.ordered ? "o" : "u" %>l class="single_list">
        <% @list.items.each do |item| %>
          <li><%= item.body %></li>
        <% end %>
      </<%= @list.ordered ? "o" : "u" %>l>

      <p class="listed_by">
        <% if editable_by_current_user?(@list, current_user) %>
          <% if @list.private? %>
            Privately listed
          <% else %>
            Listed
          <% end %>
          by <strong>YOU</strong> on <%= @list.created_at.strftime("%B #{@list.created_at.day.ordinalize}, %Y") %> : <%= link_to "EDIT", edit_admin_list_path(@list) %>
        <% else %>
          Listed by <%= link_to_user(@list.user) %> on <%= @list.created_at.strftime("%B #{@list.created_at.day.ordinalize}, %Y") %>
        <% end %>
      </p>

      <% if @list.comments.present? %>
        <h4 class="strikethrough"><span>COMMENTS</span></h4>

        <ul class="comments">
          <% @list.comments.each do |comment| %>
          <li id="comment_<%= comment.id %>">
            <span class="comment"><%= simple_format(comment.body) %></span>
            <p class="commented_by">posted by <%= link_to comment.user.login, profile_path(comment.user.login) %> on <%= comment.created_at.strftime("%B #{comment.created_at.day.ordinalize}, %Y") %></p>
          </li>
          <% end %>
        </ul>
        <!-- <div class="form-group">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-listyourlist btn-block">Submit</button> -->
      <% end %>
    </div>

    <div class="col-sm-5">
      <ul class="list-group">
        <li class="list-group-item justify-content-between header">
          <%= @list.user.login %>
        </li>
        <% @list.user.lists.publics.reverse.each do |list| %>
          <li class="list-group-item justify-content-between">
            <%= link_to_unless_current list.title, list_path(list), class: "list" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
