<div id="list">
  <div class="row">
  	<div class="col-sm-8 col-md-8 col-lg-6 col-lg-offset-1">
  		<h2><%= @list.title %></h2>
  		<p class="description"><%= @list.description %></p>
  		<ul class="single_list">
        <% @list.items.each do |item| %>
          <li><%= item.body %></li>
        <% end %>
  		</ul>
  		<p class="listed_by">Listed by <%= link_to @list.user.login, profile_path(@list.user.login) %> on <%= @list.created_at.strftime("%B #{@list.created_at.day.ordinalize}, %Y") %></p>
      <% if @list.comments.present? %>
    		<h4>Comments</h4>
    		<ul class="comments">
          <% @list.comments.each do |comment| %>
    			<li id="comment_<%= comment.id %>">
    				<span class="comment"><%= simple_format(comment.body) %></span>
    				<p class="commented_by">posted by <%= link_to comment.user.login, profile_path(comment.user.login) %> on <%= comment.created_at.strftime("%B #{comment.created_at.day.ordinalize}, %Y") %></p>
    			</li>
          <% end %>
    		</ul>
        <!-- <div class="form-group">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-listyourlist btn-block">Submit</button> -->
      <% end %>
  	</div>
  	<div class="col-sm-4 col-md-4 col-lg-4">
  		<h3><%= @list.user.login %></h3>
  		<ul class="list_of_lists">
        <% @list.user.lists.reverse.each do |list| %>
          <li><%= link_to list.title, list_path(list) %></li>
        <% end %>
  		</ul>
  	</div>
  </div>
</div>