<div class="col-sm-7">
  <div class="form-group">
    <%= f.label :title, class: "sr-only" %>
    <%= f.text_field :title, class: "form-control input-lg", placeholder: "Type title here, then hit ENTER" %>
    <p class="help-block">Type title here, then hit ENTER</p>
    <%= error_messages_for(@list, :title, "right") %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "sr-only" %>
    <%= f.text_area :description, class: "form-control input-lg", placeholder: "Description (optional, hit ENTER when you're done)" %>
  </div>

  <%= error_messages_for(@list, :items, "left") %>

  <div id="list" class="form-group">
    <<%= @list.ordered ? "o" : "u" %>l id="items">
      <%= f.fields_for :items do |item| %>
        <%= render 'item_fields', f: item %>
      <% end %>
      <div class="links">
        Type and hit ENTER. Or, <%= link_to_add_association "click here", f, :items %> to add another item.
      </div>
    </<%= @list.ordered ? "o" : "u" %>l>
  </div>
</div>

<div class="settings col-sm-5">
  <div class="section">
    <h4 class="strikethrough"><span>List Type</span></h4>
    <div class="options">
      <label>
        <%= f.radio_button :ordered, false, checked: true, class: "js-switch-list-type" %>
        <span>BULLETS</span>
      </label>
      <label>
        <%= f.radio_button :ordered, true, class: "js-switch-list-type" %>
        <span>NUMBERS</span>
      </label>
    </div>
  </div>

  <div class="section">
    <h4 class="strikethrough"><span>Comments</span></h4>
    <div class="options">
      <label>
        <%= f.radio_button :commenting, true, checked: true %>
        <span>ON</span>
      </label>
      <label>
        <%= f.radio_button :commenting, false %>
        <span>OFF</span>
      </label>
    </div>
  </div>

  <div class="section">
    <h4 class="strikethrough"><span>Status</span></h4>
    <div class="options">
      <label>
        <%= f.radio_button :public, true, checked: true %>
        <span>Public</span>
      </label>
      <label>
        <%= f.radio_button :public, false %>
        <span>Private</span>
      </label>
    </div>
  </div>

  <p class="help-text">Public lists are, as the name suggests, visible to the general public and search engine crawlers. Private lists are only visible to you when you are logged in. Status can be changed at anytime.</p>

  <div class="section">
    <%= f.submit "SAVE LIST", class: "btn btn-lg btn-block btn-lyl-primary" %>
  </div>

  <% if action_name == "edit" %>
    <div class="section">
      <%= link_to "DELETE LIST", admin_list_url, method: :delete, class: "btn btn-lg btn-block btn-lyl-delete", data: { confirm: "Are you sure you wanna delete this list? It will be gone forever and you can't undo this." } %>
    </div>
  <% end %>
</div>
