<div id="login">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center">Login</h2>

      <%= form_tag "/login" do %>
        <div class="form-group">
          <%= label_tag :email, "Email", class: "sr-only" %>
          <%= text_field_tag :email, params[:email], class: "form-control input-lg", placeholder: "Email" %>
        </div>

        <div class="form-group">
          <%= label_tag :password, "Password", class: "sr-only" %>
          <%= password_field_tag :password, nil, class: "form-control input-lg", placeholder: "Password" %>
        </div>

        <div class="form-group">
          <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          <label class="js-remember-me-unchecked" for="remember_me">
            Remember me
          </label>

          <label class="js-remember-me-checked" for="remember_me" style="display: none">
            Remember me <span class="sure-thing">👍🏼 Sure thing!</span>
          </label>
        </div>

        <div class="form-group">
          <%= submit_tag "LOGIN", class: "btn btn-lyl-primary btn-lg btn-block" %>
        </div>

        <p class="text-center">
          <%= link_to "Sign Up", signup_path %>
        </p>

      <% end %>
    </div>
  </div>
</div>
