<div class="section required">
  <%= strikethrough_heading(text: "REQUIRED") %>

  <div class="form-group">
    <%= f.label :username, "Username" %>
    <%= f.text_field :username, class: "form-control input-lg", placeholder: "Letters, numbers, dashes, and dots" %>
    <%= error_messages_for(@user, :username) %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control input-lg", placeholder: "example@poopypants.net" %>
    <%= error_messages_for(@user, :email) %>
  </div>

  <% if action_name == "new" || action_name == "create" %>
    <div class="form-group">
      <%= f.label :password, "Passwords" %>
      <%= f.password_field :password, class: "form-control input-lg", placeholder: "Password" %>
      <%= error_messages_for(@user, :password) %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: "sr-only" %>
      <%= f.password_field :password_confirmation, class: "form-control input-lg", placeholder: "Confirm Password" %>
      <%= error_messages_for(@user, :password_confirmation) %>
    </div>
  <% else %>
    <p class="text-center">
      <%= link_to "Click here to change your password", settings_change_password_path %>
    </p>
  <% end %>
</div>

<div class="section optional">
  <%= strikethrough_heading(text: "OPTIONAL") %>

  <div class="form-group">
    <%= f.label :full_name, "Full Name" %>
    <%= f.text_field :full_name, class: "form-control input-lg", placeholder: "First and last" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control input-lg", placeholder: "City, State, Country?" %>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class: "form-control input-lg", placeholder: "https://example.com" %>
    <%= error_messages_for(@user, :url) %>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, class: "form-control input-lg", placeholder: "What's your story?" %>
  </div>
</div>
