<div id="change-password">
  <h2 class="text-center">Change your password</h2>
  <%= form_for @user, url: { action: :change_password } do |f| %>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="section">
          <h4 class="strikethrough">
            <span>CURRENT PASSWORD</span>
          </h4>

          <div class="form-group">
            <%= f.label :current_password, class: "sr-only" %>
            <%= f.password_field :current_password, class: "form-control input-lg", placeholder: "Can you remember it?" %>
            <%= error_messages_for(@user, :current_password) %>
          </div>
        </div>

        <div class="section">
          <h4 class="strikethrough">
            <span>NEW PASSWORD</span>
          </h4>

          <div class="form-group">
            <%= f.label :password, class: "sr-only" %>
            <%= f.password_field :password, class: "form-control input-lg", placeholder: "At least 6 characters" %>
            <%= error_messages_for(@user, :password) %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, class: "sr-only" %>
            <%= f.password_field :password_confirmation, class: "form-control input-lg", placeholder: "Letters, numbers, !@#\$" %>
            <%= error_messages_for(@user, :password_confirmation) %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "UPDATE PASSWORD", class: "btn btn-lg btn-block btn-lyl-primary" %>
        </div>
      </div>
    </div>

  <% end %>
</div>
