<div id="user">
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-unstyled">
        <li><%= @user.full_name ? @user.full_name : @user.username %></li>
        <li><%= @user.location %></li>
        <li><%= link_to @user.url, @user.url, target: "_blank" if @user.url %></li>
        <li><%= @user.bio %></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item justify-content-between header">
          Lists
        </li>
        <% @user.lists.publik.order(created_at: :desc).each do |list| %>
          <li class="list-group-item justify-content-between">
            <%= link_to list.title, list_path(list), class: "list" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
