<div id="about">
	<h3>About</h3>

	<h5>A little back story&hellip;</h5>
	<p>This whole thing started back in the Spring of 2006. I realized pretty quickly that if I was <em>really</em> going to learn <%= link_to "Ruby on Rails", "http://rubyonrails.com" %>, I needed something more than "the depot." I tossed a few ideas around in my head and settled on <em>List<span>Y</span>ourList</em>.</p>
	<p>Sure, there were 100 other list sites out there, but I thought I had something original enough. With the help of my good friend (and fellow nerd), Shane, we whipped out the first version of <em>List<span>Y</span>ourList</em> and launched it on <%= link_to "my sister", "/worstdukeever" %>'s birthday: May 23rd, 2006.</p>
	<p class="last_p">Things went pretty well. After only a few weeks we had about 50 listers listing away! It was awesome. Each and everyday I was excited to see what new lists had been listed. The creativity and humor of the community was very surprising, and I was extremely proud of everyone involved.</p>

	<h5>Then what happened?</h5>
	<p>Well, I got a little burnt out on the whole "web design" thing. See, I'd created a few custom-made blogs for my friends and I was dealing with hosting and bug tracking for those, I was fresh off some frustrating contract work, Rails hosting and deployment were an f-ing nightmare, and I had a sinking suspicion that I was spending <em>way</em> too much time on the computer.</p>
	<p>So, I walked away from the whole thing and took a small hiatus. I migrated all my friends' blogs to wordpress.com and took down <em>ListYourList</em>. I was done. I tried giving the project away on craigslist, but all of the prospective takers flaked out on me.</p>

	<blockquote>
		<h5>FREE Rails project for passionate programmer</h5>
		<p>Are you new to Ruby on Rails, but just can't find the right project with which to get your hands dirty? Are you a master chef just yearning for another pot to stir? Have I got the deal for you.</p>
		<p>I used to be a RoR programmer, and then I fell out of the game.</p>
		<p>I created a project, launched it, got about 50 users and lots of activity, and then lost my passion. Unfortunately in this case, the ship sorta went down with the captain and the traffic tanked. I hate seeing it sitting around collecting dust and would love to pass it off to someone more passionate and excited to continue the legacy. And the best part is, you can have it completely free!!</p>
		<p>Send me an email, I'll send you the URL, and you can poke around and get back to me. Or, maybe we could meet up, I could show you what I've got, and then hand you the reins. What do you say?</p>
  </blockquote>

	<p>About a year later (Jan 2008), while <%= link_to "washing dishes in Antarctica", "http://flickr.com/photos/elisfanclub/collections/72157602618746680/" %>, I got an email from a friend of <%= link_to "Rosa", "/rosa" %>. She whipped me into shape.</p>

	<blockquote>
		<h5>Dear Eli</h5>
		<p>I was just procrastinating online, and I was distressed to find that listyourlist.com seems to have died a death.  My good friend Rosa sent me a link to this blog, and I saw that you have disengaged yourself from it entirely.</p>
		<p>When I first discovered the absence of listyourlist, I looked for a substitute (aided by Rosa).  It appears that listyourlist was unique in the un-gimmicky function it offered to people, and in the way that lists were completely independent, and attached to the user only.</p>
	</blockquote>

	<p>When I got back home in June, I reunited with Shane, and we rebuilt <em>ListYourList</em> from the ground up. It was an awesome exercise in redesign and refactoring.</p>

  <h5>Fast-Forward Seven Years</h5>

  <p>It's now 2015, and I am rebuilding <em>ListYourList</em> once again! It's has remained practically dormant over the last 7 years, and in that time a lot has changed in the world of the web. The previous version of <em>ListYourList</em> was zero percent mobile friendly, and that has become completely unacceptable these days. It was also in dire need of a redesign. It's also my baby and baby's need babying every so often.</p>

  <p>For now, though, the site is read-only while I get the back-end all tied together. Take a moment to read through your old lists or discover some new ones. A lot of them still hold up.</p>

	<p>Questions? Comments? Feedback? <%= link_to "Contact me", "mailto:elimduke@gmail.com" %>.</p>
</div>
