<div id="users-form">
  <h2 class="text-center">Create your account</h2>
  <%= form_for [:admin, @user] do |f| %>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">

        <% if @user.errors.any? %>
          <p class="there-be-errors text-center pink">Oops! Something went wrong!</p>
        <% end %>

        <div class="section required">
          <h4 class="strikethrough"><span>REQUIRED</span></h4>

          <div class="form-group">
            <%= f.label :login, "Username", class: "sr-only" %>
            <%= f.text_field :login, class: "form-control input-lg", placeholder: "Username" %>
            <%= error_messages_for(@user, :login) %>
          </div>

          <div class="form-group">
            <%= f.label :email, class: "sr-only" %>
            <%= f.text_field :email, class: "form-control input-lg", placeholder: "Email" %>
            <%= error_messages_for(@user, :email) %>
          </div>

          <div class="form-group">
            <%= f.label :password, class: "sr-only" %>
            <%= f.password_field :password, class: "form-control input-lg", placeholder: "Password" %>
            <%= error_messages_for(@user, :password) %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, class: "sr-only" %>
            <%= f.password_field :password_confirmation, class: "form-control input-lg", placeholder: "Confirm Password" %>
            <%= error_messages_for(@user, :password_confirmation) %>
          </div>
        </div>

        <div class="section optional">
          <h4 class="strikethrough pink"><span>OPTIONAL</span></h4>

          <div class="form-group">
            <%= f.label :full_name, "Full Name", class: "sr-only" %>
            <%= f.text_field :location, class: "form-control input-lg", placeholder: "Full Name" %>
          </div>

          <div class="form-group">
            <%= f.label :location, class: "sr-only" %>
            <%= f.text_field :location, class: "form-control input-lg", placeholder: "Location" %>
          </div>

          <div class="form-group">
            <%= f.label :url, class: "sr-only" %>
            <%= f.text_field :url, class: "form-control input-lg", placeholder: "URL" %>
          </div>

          <div class="form-group">
            <%= f.label :bio, class: "sr-only" %>
            <%= f.text_area :bio, class: "form-control input-lg", placeholder: "Bio" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Sign Up", class: "btn btn-lg btn-block btn-lyl-primary" %>
        </div>
      </div>
    </div>

  <% end %>
</div>
